* {
    margin: 0;
    padding:0;
}
/* header section  */
header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    font-family: 'Croissant One', cursive;
}
header > ul {
    /* border: 5px solid red; */
    list-style: none;
    display: flex;
    padding: 10px;
}
header > div {
    padding: 20px;
    /* background-color: aqua; */
    font-size:2rem;
    color: goldenrod;
}
header ul > li {
    font-size: 1em;
    margin: 10px;
    display: flex;
    color: gray;
    flex-wrap: wrap;
    /* background-color: blue; */
    /* border:2px solid blue; */
    padding: 15px;
}
header ul > li:hover {
    color: goldenrod;
    cursor: pointer;
}
/* header section end */
/* main section started  */

/* img slider section start  */
.slider-container {
    overflow: hidden;
    height: 800px;
    width: 1200px;
}

/* animation section started */
@-webkit-keyframes slide_animation {
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}

.slider-img {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
    border: 5px solid red;
    object-fit: cover;
}
.img-container img {
    height: 800px;
    width: 1000px;
    object-fit: cover;
}